body {
  overflow-x: hidden;
}

/* .mainProductContainer {

} */

.Sidebarcontainer {
  position: absolute;
  margin-top: 78px;
  width: 185px;
  padding: 38px;
}

.searchContainer {
  position: relative;
}

.searchBar {
  width: 42%;
  padding: 12px;
  font-size: 16px;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1);
  margin-left: 25%;
}

.searchIcon {
  position: absolute;
  top: 52px;
  right: 492px;
  font-size: 34px;
  color: #ccc5c5;
  transform: translateY(-50%);
}

.companyName {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 24px;
  color: #121212;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.container {
  width: 85%;
  margin-left: 300px;
  margin-top: 60px;
}

.productPage {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

.product {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product:hover {
  transform: scale(1.05);
}

.productImage {
  max-width: 100%;
  height: 50%;
  object-fit: cover;
}

.wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  fill: #ff0000;
  cursor: pointer;
  z-index: 2;
}

.productInfo {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productTitle {
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productPrice {
  font-weight: bold;
  margin-bottom: 5px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

@media (max-width: 1200px) {
  .container {
    margin-left: 200px;
  }

  .product {
    width: 150px;
    height: 300px;
  }
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    width: 100%;
  }

  .product {
    width: 100%;
  }
}
